.page {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  padding-block: var(--space-6) 0;
}

@media (min-width: 64rem) {
  .page {
    gap: calc(var(--space-6) * 1.5);
    padding-block: calc(var(--space-6) * 2) 0;
  }
}
